{% extends 'base.html.twig' %}

{% block content %}
<header>
    <div class="typewriter">
        <span class="typewriter-static">
            Hello, I am Christian Gröber, a
        </span>
        <span class="typewriter-target" id="whatAmITarget">Full Stack Developer</span>
        <ul class="typewriter-options" id="whatAmIOptions">
            {% for option in whatAmIOptions %}
                <li>{{ option }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="header-image">
        <img src="{{ leaderImage }}" />
    </div>
</header>

<section class="skills-section">
    <h2>Skills</h2>
    <ul class="skills-list">
        {% for skill in skills %}
        <li>
        {% if skill['url'] %}
            <a class="skill-item" href="{{ skill['url'] }}">
                <img alt="{{ skill['alt'] }}" src="{{ skill['img'] }}">
            </a>
        {% else %}
            <img class="skill-item" alt="{{ skill['alt'] }}" src="{{ skill['img'] }}">
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>


<section class="timeline-section">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="title">Education and Work</h2>
    </div>

    <ul class="timeline">
        {% for item in educationAndJobs %}
        <li class="timeline-item">
            <div class="timeline-item-inner">
                <div class="timeline-item-heading">
                    <h3>{{ item['title'] }}</h3>
                    <span class="subtitle">{{ item['duration'] }}</span>
                </div>
                <p>
                    {{ item['description'] }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="projects-section">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Featured Projects</h2>
        <a href="/portfolio" class="link-arrow">Full Portfolio</a>
    </div>
    <div class="card-list">
        {% for page in featured %}
        {% include 'post-card.html.twig' with {page: page} %}
        {% endfor %}
    </div>
</section>

<section class="contact-section">
    <div class="text-center">
    <h2>Connect with me</h2>
    </div>
    <div class="contact-links">
        <a class="contact-link" href="https://github.com/pixlmint">GitHub</a>
        <a class="contact-link">Linkedin</a>
    </div>
</section>
{% endblock %}
