{% extends 'base.html.twig' %}

{% block title %}
{{ meta.title }}
{% endblock %}

{% block content %}
<h1>{{ meta.title }}</h1>
{% if meta.getAdditionalValues().has('tags') %}
    {% for tag in meta.getAdditionalValues().get('tags') %}
        <span>{{ tag }}</span>
    {% endfor %}
{% endif %}
{% if meta.getAdditionalValues().has('technologies') %}
    {% for technology in meta.getAdditionalValues().get('technologies') %}
        <a href="/tech/{{ technology }}" class="subtitle">{{ technology }}</a>
    {% endfor %}
{% endif %}
<div class="post-content">
    {{ content|raw }}
</div>
{% endblock %}
